<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767395833307-mlfkmt1n0fea6f5fp8sv8oof35p4ecli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767395833307-mlfkmt1n0fea6f5fp8sv8oof35p4ecli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>767395833307-grst0rv8kh5ned56la64ibfvc005frg5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_iye1LjXsTkjbUsyR5NJ5w40HUR9-FHI</string>
	<key>GCM_SENDER_ID</key>
	<string>767395833307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emojiit.Volt</string>
	<key>PROJECT_ID</key>
	<string>volt-aec8b</string>
	<key>STORAGE_BUCKET</key>
	<string>volt-aec8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767395833307:ios:0bd9d5e9b397273ba633fe</string>
	<key>DATABASE_URL</key>
	<string>https://volt-aec8b-default-rtdb.firebaseio.com</string>
</dict>
</plist>