<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.767395833307-mlfkmt1n0fea6f5fp8sv8oof35p4ecli</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1312609882584823</string>
			</array>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>Volt</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Muli.ttf</string>
		<string>Muli-ExtraLight.ttf</string>
		<string>Muli-ExtraLightItalic.ttf</string>
		<string>Muli-BoldItalic.ttf</string>
		<string>Muli-Semi-BoldItalic.ttf</string>
		<string>Muli-Bold.ttf</string>
		<string>Muli-Italic.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli-Light.ttf</string>
		<string>Muli-LightItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-ExtraBoldItalic.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
		<string>PlayfairDisplay-MediumItalic.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
